.row h1 {
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 400;
}
.row p {
  display: block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 1rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.form-group {
  padding: 1rem;
  border: solid #f7f7f9;
}
#birthDate {
  margin-bottom: 0;
}

.form-check-inline {
  padding: 1rem;
}

.female {
  padding-left: 1rem;
}